.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.6);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .pop-up__content {
    width: 60%;
    height: 80%;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    .pop-up__buttons {
      width: 100%;
      padding: 2% 4%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
@media (max-width: 1000px) {
  .pop-up {
    .pop-up__content {
      padding-top: 1%;
    }
  }
}
@media (max-width: 500px) {
  .pop-up {
    .pop-up__content {
      .pop-up__buttons {
        padding: 2% 3%;
      }
    }
  }
}
