<<<<<<< HEAD
<<<<<<< HEAD
.input__description{
=======
.form-url__text{
>>>>>>> 9ac4e8b (feat:add styles fot form-url)
=======
.input__description{
>>>>>>> 8f4dff9 (fix: make changes according to the comments)
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
margin-bottom: 6px;
}
<<<<<<< HEAD
<<<<<<< HEAD
.input{
    display: flex;
    flex-wrap: wrap;
}
.input__field{
=======
.form-url__text_span{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #66999B;
}
.form-url__div{
    display: flex;
    flex-wrap: wrap;
}
.form-url__div_input{
>>>>>>> 9ac4e8b (feat:add styles fot form-url)
=======
.input{
    display: flex;
    flex-wrap: wrap;
}
.input__field{
>>>>>>> 8f4dff9 (fix: make changes according to the comments)
  width: 276px;
  height: 47px;
  background: #FFFFFF;
  border: 1px solid #2B3A67;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 10px;
}
<<<<<<< HEAD
<<<<<<< HEAD

@media (max-width: 1000px) {
  .input__description{
=======
.form-url__div_submit{
width: 241px;
  height: 47px;
  background: #2b3a67;
  color: #ffffff;
  border: 1px solid #496a81;
  border-radius: 3px;
  font-family: "Ruda", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: inline;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .form-url__text{
>>>>>>> 9ac4e8b (feat:add styles fot form-url)
=======

@media (max-width: 1000px) {
  .input__description{
>>>>>>> 8f4dff9 (fix: make changes according to the comments)
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 4px;
    }
<<<<<<< HEAD
<<<<<<< HEAD
    .input__field{
      max-width: 176px;
      max-height: 40px;  
    }
  }
  @media (max-width: 500px) {
    .input__description{
=======
    .form-url__text_span{
      font-size: 14px;
      line-height: 18px;
    }
    .form-url__div_input{
=======
    .input__field{
>>>>>>> 8f4dff9 (fix: make changes according to the comments)
      max-width: 176px;
      max-height: 40px;  
    }
  }
  @media (max-width: 500px) {
<<<<<<< HEAD
    .form-url__text{
>>>>>>> 9ac4e8b (feat:add styles fot form-url)
=======
    .input__description{
>>>>>>> 8f4dff9 (fix: make changes according to the comments)
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 3px;
      }
<<<<<<< HEAD
<<<<<<< HEAD
      .input__field{
        max-width: 106px;
        max-height: 25px;  
      }
    }
=======
      .form-url__text_span{
        font-size: 12px;
        line-height: 14px;
      }
      .form-url__div_input{
        max-width: 106px;
        max-height: 25px;  
      }
      .form-url__div_submit{
        max-width: 91px;
        max-height: 25px;
        font-size: 12px;
        line-height: 14px;
      }
    }
>>>>>>> 9ac4e8b (feat:add styles fot form-url)
=======
      .input__field{
        max-width: 106px;
        max-height: 25px;  
      }
    }
>>>>>>> 8f4dff9 (fix: make changes according to the comments)
