.btn{
  width:189px;
  height: 47px;
  border: 1px solid #496A81;
  border-radius: 3px;
  font-family: 'Ruda', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-primary{
  background: #2B3A67;
  color: #FFFFFF;
}
.btn-additional{
  color: #2B3A67;
  background: #FFFFFF;
}
