.button {
  width: 189px;
  height: 47px;
  border: 1px solid #496a81;
  border-radius: 3px;
  font-family: "Ruda", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    cursor: pointer;
  }
}
.button_primary {
  background: #2b3a67;
  color: #ffffff;
}
.button_secondry {
  color: #2b3a67;
  background: #ffffff;
}
@media (max-width: 1000px) {
  .button {
    font-size: 20px;
    line-height: 25px;
    max-width: 156px;
    max-height: 40px;
  }
}
@media (max-width: 500px) {
  .button {
    font-size: 14px;
    line-height: 15px;
    max-width: 106px;
    max-height: 25px;
  }
}
