.playerCard {
  position: relative;
  max-width: 500px;
  min-width: 250px;
  max-height: 120px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 12px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  .playerCard__info {
    margin: 0 10px;
    max-height: 83px;
    min-height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    color: #000000;
    .playerCard__name {
      font-weight: 300;
      font-size: 20px;
      line-height: 18px;
    }
    .playerCard__jobPosition {
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
    }
    .playerCard__aboutYou {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
    }
  }
  .playerCard__removeImage {
    max-width: 48px;
    max-height: 48px;
    min-width: 20px;
    min-height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
@media (max-width: 1000px) {
  .playerCard {
    max-width: 350px;
    max-height: 90px;
    min-width: 100px;
    min-height: 30px;
    padding: 4px 10px;
    .playerCard__info {
      margin: 0 7px;
      max-height: 60px;
      min-height: 25px;
      .playerCard__name {
        font-size: 12px;
        line-height: 15px;
      }
      .playerCard__jobPosition {
        font-size: 10px;
      }
      .playerCard__aboutYou {
        font-size: 10px;
      }
    }
    .playerCard__removeImage {
      min-width: 16px;
      min-height: 16px;
    }
  }
}
@media (max-width: 750px) {
  .playerCard {
    max-width: 300px;
    min-width: 80px;
    max-height: 70px;
    min-height: 20px;
    padding: 4px 10px;
    .playerCard__info {
      max-height: 45px;
      min-height: 19px;
      .playerCard__name {
        font-size: 10px;
        line-height: 12px;
      }
      .playerCard__jobPosition {
        font-size: 10px;
      }
      .playerCard__aboutYou {
        font-size: 10px;
        line-height: 12px;
      }
    }
    .playerCard__removeImage {
      min-width: 13px;
      min-height: 13px;
    }
  }
}
