.static{
    margin: 0 auto;
max-width: 69.4%;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-top: 130px;
padding-bottom: 232px;
padding-left: 26px;

}
.static__title{
    position: relative;
}
.static__title_slash{
    position: absolute;
    width: 350.3px;
height: 0px;
border: 5px solid #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(164.77deg);
left: 161px;
top: 19px;
}
.static__title_text{
    position: absolute;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 82px;
/* identical to box height */
color: #000000;
}
.static__title_poker{
    left: 131px;
}
.static__title_planning{
    left: 272px;
    top: 64.39px;
}

@media (max-width: 1000px) {
    .static{
    padding-top: 100px;
    padding-bottom: 202px;
    padding-left: 21px;
    }
    }
    @media (max-width: 500px) {
        .static{
        padding-top: 80px;
        padding-bottom: 150px;
        padding-left: 15px;
        }
      }
