.heading {
  display: flex;
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.heading__edit {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .heading {
    font-size: 24px;
  }
  .heading__edit {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 500px) {
  .heading {
    font-size: 18px;
  }
  .heading__edit {
    width: 14px;
    height: 14px;
  }
}
