.membersSection {
  .membersSection__labelText {
    font-family: "Ruda", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 20px 0;
    width: 100%;
  }
  .membersSection__users {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }
}
