.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.6);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .pop-up__content {
    width: 60%;
    height: 80%;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    .pop-up__header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      .pop-up__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 55px;
        text-align: center;
      }
    }
    .pop-up__main {
      width: 100%;
      padding-left: 5%;
      min-height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 100px;
      .pop-up__form {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 15%;
        .form__label {
          .form__paragraph {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 25px;
            display: flex;
            align-items: center;
            margin-bottom: 3px;
          }
          .form__input {
            display: none;
          }
          .input__button {
            width: 276px;
            height: 47px;
            background: #ffffff;
            border: 1px solid #eeeeee;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 0px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }
    .pop-up__buttons {
      width: 100%;
      padding: 2% 4%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
@media (max-width: 1000px) {
  .pop-up {
    .pop-up__content {
      padding-top: 1%;
      .pop-up__header {
        .pop-up__title {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .pop-up__form {
        .form__paragraph {
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 2px;
        }
        .input__field {
          max-width: 176px;
          max-height: 40px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .pop-up {
    .pop-up__content {
      padding-top: 1%;
      .pop-up__header {
        .pop-up__title {
          font-size: 25px;
          line-height: 20px;
        }
      }
      .pop-up__form {
        .form__paragraph {
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 1px;
        }
        .input__button {
          max-width: 106px;
          max-height: 25px;
        }
      }
      .pop-up__buttons {
        padding: 2% 3%;
      }
    }
  }
}
