.pop-up__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  .pop-up__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }
}
.pop-up__main {
  width: 100%;
  padding-left: 5%;
  min-height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
  .pop-up__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15%;
    .form__label {
      .form__paragraph {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 25px;
        display: flex;
        align-items: center;
        margin-bottom: 3px;
      }
      .form__input {
        display: none;
      }
      .input__file {
        width: 276px;
        height: 47px;
        background: #ffffff;
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 1000px) {
  .pop-up__header {
    .pop-up__title {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .pop-up__main {
    .pop-up__form {
      .form__label {
        .form__paragraph {
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 2px;
        }
        .input__file {
          max-width: 176px;
          max-height: 40px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .pop-up__header {
    .pop-up__title {
      font-size: 25px;
      line-height: 20px;
    }
  }
  .pop-up__main {
    .pop-up__form {
      .form__label {
        .form__paragraph {
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 1px;
        }
        .input__file {
          max-width: 106px;
          max-height: 25px;
        }
      }
    }
  }
}
