.votes{
  display: flex;
  flex-wrap: wrap;
}
.votes__head-text{
  font-family: Ruda;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  font-style: normal;
}
.votes__card{
  max-height: 50.39px;
  max-width: 200px;
  margin: 5px;
}