.avatar {
  position: relative;
  min-width: 83px;
  min-height: 83px;
  border-radius: 50%;
  border: 1px solid #60dabf;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #60dabf;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  .avatar__image {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
