.issue {
  position: relative;
  max-width: 500px;
  min-width: 200px;
  max-height: 120px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
}

.issue_current {
  background: rgba(96, 218, 191, 0.33);
}
.issue_notCurrent {
  background: #ffffff;
}
.issue__image {
  width: 42px;
  height: 42px;
}
.issue__currentText {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}
.issue__information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.issue__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
}
.issue__images {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.issue__priority {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
}
@media (max-width: 1000px) {
  .issue {
    max-width: 350px;
    max-height: 90px;
    min-width: 100px;
    min-height: 30px;
    padding: 0 10px;
  }
  .issue__image {
    width: 28px;
    height: 28px;
  }
  .issue__currentText {
    font-size: 14px;
  }
  .issue__name {
    font-size: 36px;
    line-height: 36px;
  }
  .issue__priority {
    font-size: 10px;
  }
}
@media (max-width: 750px) {
  .issue {
    max-width: 300px;
    min-width: 80px;
    max-height: 70px;
    min-height: 20px;
    padding: 0 10px;
  }
  .issue__image {
    width: 18px;
    height: 18px;
  }
  .issue__currentText {
    font-size: 10px;
  }
  .issue__name {
    font-size: 26px;
    line-height: 26px;
  }
  .issue__priority {
    font-size: 6px;
  }
}
