.switcher {
  min-width: 15vw;
  width: auto;
  .switcher__label {
    position: relative;
    font-family: "Ruda", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    .switcher__labelText {
      text-align: center;
      font-family: "Ruda", sans-serif;
      padding-right: 20px;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
    }
    .switcher__input {
      display: none;
      &:checked + .switcher__button {
        background-color: #60dabf;
        &:before {
          transform: translateX(37px);
        }
      }
    }
    .switcher__button {
      width: 70px;
      height: 40px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 24px;
      position: relative;
      background-color: #c4c4c4;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        transition: transform 0.5s ease-in-out;
        left: 4px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .switcher {
    min-width: 132px;
    .switcher__label {
      font-size: 20px;
      .switcher__labelText {
        font-size: 18px;
        line-height: 24px;
      }
      .switcher__button {
        min-width: 55px;
        height: 30px;
        &:before {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .switcher {
    .switcher__label {
      font-size: 18px;
      .switcher__labelText {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
